.loginForm {
  position: relative;
  width: 50%;
  transform: translate(-50%, -10vh);
  left: 50%;
  top: 20vh;
  background-color: azure !important;
  padding: 1rem;
}

.loginForm > p {
  color: tomato;
}

.loginForm > div > div {
  margin-top: 1rem;
}
