.signUpForm {
  position: relative;
  width: 50%;
  transform: translate(-50%, -10vh);
  left: 50%;
  top: 20vh;
  background-color: azure;
  padding: 1rem;
}

.signUpForm > div > div {
  margin-top: 1rem;
}

.signUpForm > p {
  color: tomato;
}
